body {
    overflow: hidden;
}

.toggleBarContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.arrow {
    width: 50px;
    height: 50px;
    background-color: #282828;
    border: 2px solid #36C182;
    border-radius: 10px;
    margin-right: 5px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow:hover {
    cursor: pointer;
    
}
.arrow > p {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.addSection {
    background-color: #141414;
    border-left: solid 1px  rgba(255,255,255,0.6);
    height: 100%;
    width: 0%;

    display: flex;
    flex-direction: column;

}
.sidebarHeader {
    color: white;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    font-size: 30px;
}